[Unit]
Description=One-time webhook script
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/home/admin/webhook.sh

[Install]
WantedBy=multi-user.target